%h3 Queue list
%br
%a(href="/") Top
%p
%table
  %tr
    %th File
    %th Image
    %th Transpose
  - @queue.each do |q|
    %tr
      %td
        #{q[:file]}
      %td
        %img(src="/thumb/#{q[:file]}" width="150")
      %td
        #{transpose_num_to_str(q[:transpose])}
